
<html>
    <a href="{% url 'bank:index'%}">home</a>
    <h1>
        welcome
    </h1>
    <h2>
        {{request.user}}
    </h2>
    <h3>
        account_number: {{obj.account_number}}
    </h3>
    <h4>
        Balance : {{obj.balance}}
    </h4>
    <a href="{% url 'bank:logout'%}">Logout</a>
<h1>
    Transfer
</h1>
<h2>
    Tranfer Money
</h2>
<h5> User message </h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {%else%}
    <br>
    <label>Welome</label>
    <br>
    <br>
    <br>
    
        
    {% endif %}
<form action="{% url 'bank:transfer' %}" method="post" encrtype="multipart/form-data">
    {% csrf_token%}
   
    
    
    

    
    
    <div>
        <label>RecieverAccountNumber</label>
        
        <input type="text" id="other_account" name="otheraccount">

    </div>
    <label>Amount</label>
   
    <input type="text" id="amount" name="amount"><br><br>
    
    <!--<input type="submit" value="submit">-->
    <button  tupe="submit">
        Submit
    </button>
    
   </htm>